<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
<table>
    <thead>
    <th>Codigo</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Edad</th>
    <th>Estado</th>
    </thead>
    <th:block th:each="estudiante, row:${students}">
        <tr>
            <td th:text="${estudiante.codStudent}"></td>
            <td th:text="${estudiante.name}"></td>
            <td th:text="${estudiante.lastName}"></td>
            <td th:text="${estudiante.age}"></td>
            <td th:text="${estudiante.estadoDelegate}"></td>
        </tr>
    </th:block>
</table>
<br>
<form th:action="@{/mostrarEstudiante}" method="POST">
    <label>Buscar por codigo de estudiante: </label>
    <input type="number" name="codigo"><br>
    <input type="submit" value="Buscar">
</form>

<form th:action="@{/insertarEstudiante}">
    <input type="submit" value="Insertar nuevo estudiante"><br>
</form>

<form th:action="@{/borrarEstudiante}" method="POST">
    <label>Borrar estudiante por codigo: </label>
    <input type="number" name="codigo"><br>
    <input type="submit" value="Borrar">
</form>
</body>
</html>